# Ignore OpenCV framework
rallie/Frameworks/opencv2.framework/

# Xcode build files
DerivedData/
build/

# macOS system files
.DS_Store

# User settings
*.xcuserdata
*.xcuserstate
rallie/Frameworks/opencv2.framework/
